<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<document type="com.apple.InterfaceBuilder3.Cocoa.XIB" version="3.0" toolsVersion="11134" targetRuntime="MacOSX.Cocoa" propertyAccessControl="none" useAutolayout="YES" customObjectInstantitationMethod="direct">
    <dependencies>
        <plugIn identifier="com.apple.InterfaceBuilder.CocoaPlugin" version="11134"/>
    </dependencies>
    <objects>
        <customObject id="-2" userLabel="File's Owner"/>
        <customObject id="-1" userLabel="First Responder" customClass="FirstResponder"/>
        <customObject id="-3" userLabel="Application" customClass="NSObject"/>
    </objects>
</document>


<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"> </script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"> </script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"> </script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>


<body>
<div class="jumbotron text-center">
<h1>Website Content Watcher</h1>
<p> Nikhil Prasad, Anjelica Solomon, Victor Kuang, Sanjana Dutt</p>
</div>

<div class="centered-container">
<div class="centered-elements">

<p style="margin-left:10%; margin-right:10%;">  Have you ever refreshed a page several times a day to check for updates (for example, checking a for-sale page for a particular item, a news site for a particular event, or a subreddit for a specific keyword)? </p>

<p style="margin-left:10%; margin-right:10%;"> As a user of our website content watcher, you will input a URL, search term, and search frequency (every minute, every hour, every week, etc). Then, at times designated by the search frequency, the website content watcher will scrape the text at the given URL and notify you if the search term shows up! Check it out below! </p>

<p style="margin-left:10%; margin-right:10%;"> <a href="index2.html">Query Manager</a> </p>

<script>
    
jQuery.validator.setDefaults({
    debug:true,
    success:"valid"
    });

$("#myform").validate({
      rules: {
      field: {
      required: true,
      url: true
    }
  }
});

$.post("ajax/test.html", function(data){
    $(".result").html(data);
    });

$.ajax({
    type: "POST",
    url: url,
    data: data,
    success: success,
    dataType: dataType
});

</script>
<form method="POST">

<center> <b> Website Address: </b> </center>
<center> <input type="text" name="website"> </center>
<br>

<center> <b> E-Mail: </b> </center>
<center> <input type="text" name="email"> </center>
<br>

<center> <b> Search Term: </b> </center>
<center> <input type="text" name="topic"> </center>
<br>

<center> <b> Number of seconds between searches: </b> </center>
<center> <input type="text" value="" name="frequency"> </center>
<br>
<br>

<center> <b> <input type="submit" value="Submit"/> </b> </center>
<br>
</form>

</body>
</html>
    

