<html>
<head>
    <title>Queries</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
     <style>
        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        th:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body style="background-color: #e9ecef;">
    <div class="jumbotron text-center">
<h1 style="font-family:arial;">Query Manager</h1>

<p style="font-family:sans-serif;">This table records your history of searches!</p>
</head>
<body>
  <table id="example" class="display" style="width:100%">
    <thead> 
        <tr>
            <th>Website</th>
            <th>Topic</th>
            <th>Frequency</th>
        </tr>
    </thead>
    
</table>
<script>
function setupData() {
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                // "url": "static/objects2.txt", // This works for the static file
                "url": "/index_get_data", // This now works too thanks to @kthorngren
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "website"},
                {"data": "topic"},
                {"data": "frequency"},
            ]
        });
    });
}
$( window ).on( "load", setupData );
$("#myform").validate({
      rules: {
      field: {
      required: true,
      url: true
    }
  }
});

$.post("ajax/test.html", function(data){
    $(".result").html(data);
    });

$.ajax({
    type: "POST",
    url: url,
    data: data,
    success: success,
    dataType: dataType
});
</script>
</body>
</html>
