<html>
<head>
    <title>Queries</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
     <style>
        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        th:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body style="background-color: #e9ecef;">
    <div class="jumbotron text-center">
<h1 style="font-family:arial;">Query Manager</h1>

<p style="font-family:sans-serif;">This table records your history of searches!</p>
</head>
<body>
  <table id="example" class="display" style="width:100%">
    <thead> 
        <tr>
            <th>Website</th>
            <th>Topic</th>
            <th>Frequency</th>
        </tr>
    </thead>
    
</table>
<script>
function setupData() {
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                // "url": "static/objects2.txt", // This works for the static file
                "url": "/index_get_data", // This now works too thanks to @kthorngren
                "dataType": "json",
                "dataSrc": "data",
                "contentType":"application/json"
            },
            "columns": [
                {"data": "website"},
                {"data": "topic"},
                {"data": "frequency"},
            ]
        });
    });
}
$( window ).on( "load", setupData );
$("#myform").validate({
      rules: {
      field: {
      required: true,
      url: true
    }
  }
});

$.post("ajax/test.html", function(data){
    $(".result").html(data);
    });

$.ajax({
    type: "POST",
    url: url,
    data: data,
    success: success,
    dataType: dataType
});
</script>
<center> <b> Delete a Query Here! </b> </center>

<center> <p> Specify the search term and search frequency.</p> </center>
    <center> <b> Website: </b> </center>
    <center> <input type="text" name="website" id="website"> </center>
    <br>

    <center> <b> Number of seconds between searches: </b> </center>
    <center> <input selected="selected" value="" id="frequency"> </center>
    </select>
    <br>
    
    <center> <b> Topic: </b> </center>
    <center> <input type="text" name="topic" id="topic"> </center>
    <br>
<br>
<center> <b> <button onclick="makeAjaxRequest()">Delete</button>
<script>
    function makeAjaxRequest() {
        var website = document.getElementById("website").value;
        var frequency = document.getElementById("frequency").value;
        var topic = document.getElementById("topic").value;
        var data = JSON.stringify({ "website": website, "frequency": frequency, "topic": topic});
        console.log(data);
        $.ajax({
            url: '/delete_query',
            type: 'POST',
            data: data,
            success: function(data){
                console.log("SUCCESS");
              //code to open in new window comes here
            }
        });
    }
</script>
</body>
</html>
